<header th:fragment="header1">
    <nav class="navbar bg-body-tertiary" style="padding: 0 !important;">
        <div class="container">
            <div class="col">
                <a class="navbar-brand" style="display: flex; align-items: center;">
                    <i class="bi bi-cloud-fill" style="font-size: 2.7em"></i>
                    <p style="margin-top: auto; margin-bottom: auto; margin-left: 10px">Weather</p>
                </a>
            </div>
        </div>
    </nav>
</header>
<header th:fragment="header2">
    <nav class="navbar bg-body-tertiary" style="padding: 0 !important;">
        <div class="container">
            <div class="col">
                <a class="navbar-brand" style="display: flex; align-items: center;">
                    <i class="bi bi-cloud-fill" style="font-size: 2.7em"></i>
                    <p style="margin-top: auto; margin-bottom: auto; margin-left: 10px">Weather</p>
                </a>
            </div>
            <div class="col">
                <form class="d-flex" role="search" th:method="POST" th:action="@{/search}">
                    <input class="form-control me-2" type="search" name="q" id="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <div class="col">
                <form class="container-fluid d-flex justify-content-end align-items-center" th:method="POST" th:action="@{/auth/logout}">
                    <p class="mb-0 pe-4" th:text="${username}">User</p>
                    <button class="btn btn-secondary" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </nav>
</header>